/*ТЕГИ*/
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
header {
  background-color: #ffffff;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
/* Паддинг для трёх секций (без hero)*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Контейнер для всех элементов страницы*/
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*---- HEADER ----*/

.navigation {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav-address {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  position: relative;
  color: #404bbf;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 76px;
}
.logo-studio-header {
  color: #2e2f42;
}
.header-link-tree {
  padding-top: 2px;
  display: flex;
  gap: 40px;
}

.header-link {
  position: relative;
  display: block;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio {
  color: #404bbf;
}
.studio::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  content: '';
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-address-contakt {
  display: flex;
  align-items: center;
}
.header-address-tree {
  display: flex;
  gap: 40px;
}
.header-address {
  display: block;
}
.header-contakt {
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contakt:hover,
.header-contakt:focus {
  color: #404bbf;
}

/*-- 1 HERO ---*/

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hw-4/office-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}
.hero-tittle {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 1.12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  max-width: 496px;
  text-align: center;
}
.hero-button {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  margin: 48px auto 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero-button:active {
  background-color: #404bbf;
}

/*-- 2 FEATURE --*/

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-section .container {
  justify-content: center;
  align-items: center;
}
.feature-tree {
  display: flex;
  width: 100%;
  gap: 24px;
  margin: 0;
}
.fon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.tittls-feature {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.features-team {
  color: #434455;
  letter-spacing: 0.015em;
  line-height: 1.5;
}

/*-- 3 OUR TEAM ---*/

.our-team {
  background-color: #f4f4fd;
}
.tittle-team-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}
.people-card {
  margin: 0;
  display: flex;
  gap: 24px;
}
.team-people {
  background-color: #ffffff;
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding: 0px;
}
.name-profession {
  padding: 32px 0;
}
.name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.profession {
  color: #434455;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
.name-profession .social-media-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  justify-content: center;
}
.name-profession .social-media-link:hover,
.name-profession .social-media-link:focus {
  background-color: #404bbf;
}
/*--- 4 PORTFOLIO ---*/

/*---------------------------------------*/
/*Заголовок class "tittle-team-portfolio*/
/*-------------------------------------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  height: 420px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .overlay-p {
  transform: translateY(0);
}

.overlay-p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.department {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}
.card-product {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-product {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: start;
}

/*--- FOOTER --*/

.footer-page {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-page .container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  display: inline-block;
  max-width: 264px;
  margin-right: 120px;
}
.footer-logo {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: #f4f4fd;
}
.footer-p {
  margin-top: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.social-media-tittle {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}
.social-media-list {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
}
.social-media-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.icon-soc {
  fill: #f4f4fd;
}
.social-media {
  margin-right: 80px;
}
.subscribe-text {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----FOOTER-EMAIL------ */

.footer-email-form {
  display: flex;
  gap: 24px;
}
.email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent; 
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em; 
  padding-left: 16px; 
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 color: #ffffff; 
}
.email::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}
.button {
  min-width:165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-family:"Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
}
.footer-button-icon{
  margin-left: 16px;
  fill: #fff;
}
/* ------------------------------- */

/* --- BACKDROP ----*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 100ms linear;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*-----------------------------------*/

/* --- MODAL Window -----*/

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  max-height: 584px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 24px;
}
.modal-window-p {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 48px;
  margin-bottom: 16px;
}
.user {
  margin-bottom: 8px;
}
.form-input {
  width: 100%;
  height: 40px;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  padding-left: 38px;
}
.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.close {
  fill: #2e2f42;
}
.close:hover {
  fill: #fff;
}

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
}
.button-close:hover .close,
.button-close:focus .close {
  fill: #ffffff;
}
.div-input-icon {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}
.form-input:focus-within,
.form-textarea:focus-within {
  border: 1px solid#4D5AE5;
}

input:focus + .icon {
  fill: #4d5ae5;
}
.form-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: #2e2f42;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  outline: none;
  margin-bottom: 16px;
  resize: none;
}
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.license-div {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.license-input:checked + .license-text > .license-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.license-input:focus + .license-text > .license-span {
  border-color: #404bbf;
}
.license-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.license-span {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.license-a {
  color: #4d5ae5;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.license-a:hover,
.license-a:focus {
  color: #404bbf;
}

.form-button {
  display: block;
  width: 169px;
  height: 56px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
}
.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
