 /* Контейнер для всех элементов страницы*/
 .container{
  width:100%;
  margin-left: auto;
  margin-right: auto;
 }
  @media screen and (man-width:767px){
   .container{
    padding-left: 16px;
    padding-right: 16px;
   } 
  }
  @media screen and (min-width:768px) and (man-width:1157px){
    .container{
     padding-left: 16px;
     padding-right: 16px;
     }
   }
   @media screen and (min-width:1158px){
     .container {
    min-width: 1158px;
  }
   }
    
   
