/*--- 4 PORTFOLIO ---*/

/*---------------------------------------*/
/*Заголовок class "tittle-team-portfolio*/
/*-------------------------------------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-portfolio {
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .overlay-p {
  transform: translateY(0);
}

.overlay-p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.department {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: start;
}
.card-product {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-product {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: start;
}

/* TABLET version */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container{
    max-width: 768px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-card {
    width: 356px;
  }
}
/* ==================== */

/* MOBILE version */
@media screen and (max-width: 767px) {
  .cards {
    width: 288px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-card {
    width: 288px;
  }
}
/* ================== */
