/*-- 3 OUR TEAM ---*/

.our-team {
  background-color: #f4f4fd;
}
.tittle-team-portfolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}
.people-card {
  margin: 0;
  display: flex;
  gap: 24px;
  justify-content:space-around;
  
}
.team-people {
  background-color: #ffffff;
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding: 0px;
}
.name-profession {
  padding: 32px 0;
}
.name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.profession {
  color: #434455;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}
.name-profession .social-media-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  justify-content: center;
}
.name-profession .social-media-link:hover,
.name-profession .social-media-link:focus {
  background-color: #404bbf;
}

/* MOBILE version */
@media screen and (max-width: 767px) { 
  .people-card {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .team-people {
     display: inline-block;
    width: 264px;
    height: 428px;
    margin-left: auto;
    margin-right: auto;

  }
  
}
/* =================== */

/* TABLET version */

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .people-card {
        width: 768px;
    display: flex;
  flex-wrap: wrap;
  gap: 64px 24px;
  margin: 0 auto;
  justify-content: space-between;
  }
      .team-people {
        width:264px;
        height: 428px;

      }
      .foto{
        margin-left: auto;
        margin-right: auto;
      }
    
}
/* ===================== */
